
/* Remove all crap */
:where( :is( ::part(default), .default, ::part(default) *, .default * ):is( *, ::before, ::after ) ) {
  all: unset;
  box-sizing: border-box;
}
/* Reset good crap */
:where( head, script, style, template, slot ) {
  all: revert;
}
/* usually what I intent */
:where( :not(:defined), :not(:empty), ::before:not(:empty), ::after:not(:empty) ) {
  display: block;
  width: 100%; height: 100%;
}
/* first thing to do when I get a headache */
:where( :is( .box-debug, .box-debug * ):is( *, ::before:not(:empty), ::after:not(:empty) ) ) {
  border: 1px solid black;
}
